################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BobsHelloWorld/.vs/BobsHelloWorld
/BobsHelloWorld/bin/Debug/net6.0
/BobsHelloWorld/obj
